name: UBUNTU
on: # [workflow_dispatch]
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - '.github/workflows/**'
  schedule:
    - cron:  '0 0 1 * *'

jobs:
    build:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          buildfor: ['25.10', '25.04', '24.10', '24.04', '22.04', 'latest']
      steps:
        - name: Checkout
          uses: actions/checkout@v6

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: .
            file: ./Dockerfile.multi
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/ubuntu:${{ matrix.buildfor }}
            build-args: |
              DISTRIB=ubuntu 
              IMAGE=${{ matrix.buildfor }}



